.topIt{
	display:none;
	text-align:center;
	padding:3px;
	cursor:pointer;
	position: fixed; bottom: 0px; z-index: 100000;
	font-family:"Arial";

	text-align: center;
	margin: 0px auto 0px auto;
	padding: 20px 16px 15px 16px;
}
.topIt_line{
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	height:5px;
	margin-left:-10px;
}