.topIt{
	display:none;
	text-align:center;
	cursor:pointer;
	position: fixed; bottom: 0px; z-index: 100000;
	font-family:"Arial";

	border-radius: 125%;
	padding:20px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	margin:0px 20px 10px 0px;
	font-weight:bold;
}

.topIt:hover{
	opacity:0.5;
}